<div class="container px-5 px-sm-0">
  <div id="error_explanation">
      <% if @book.errors.any? %>
        <h3><%= @book.errors.count %> errors prohibited this obj from being saved:</h3>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
  </div>
  <div class="row">

    <div class="col-md-3" >
      <!--Userinfo部分テンプレート-->
      <%= render 'users/user', user: @user %>

      <!--book部分テンプレート-->
      <%= render 'book', book: @book_new %>
    </div>

    <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class="table">
      <tbody>
          <tr>
              <td>
                <%= link_to user_path(@user) do%>
                  <%= image_tag @user.get_profile_image("44x40") %></br>
                  <%= @user.name %>
                <% end %>
              </td>
              <td>
                <%= link_to book_path(@book) do%>
                  <%= @book.title %>
                <% end %>
              </td>
              <td>
                <%= @book.body %>
              </td>
              <% if @book.user == current_user %>
                <td>
                  <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success" %>
                </td>
                <td>
                  <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-sm btn-danger" %>
                </td>
              <% end %>
          </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>